/*
Orange color :#e67e22
*/

/* --------------------------------- */
/* BASIC SETUP */
/* --------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;  
}

.clearfix {zoom:1}  /*解決IE瀏覽器的問題*/
.clearfix:after {
    content: ' ';  /*插入生成內容*/
    clear: both;  /*消除左邊及右邊的浮動*/
    display: block;
    height: 0;
    visibility: hidden;  /*隱藏物件，但物件位置不會消失，display:none則連物件佔的位置一起隱藏*/
}

/* --------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box {
    padding: 1%;
}
/* ------ HEADINGS ------ */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;  /*可以這樣用*/
    word-spacing: 4px;  /*單字間距*/
    letter-spacing: 1px;  /*字母間距*/  
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;  /*字母間距*/  
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 
}

/* ------ PARAGRAPHS ------ */

.long-copy {
    line-height: 145%;  /*行高*/
    width: 70%;
    margin-left: 15%;  /*等於把文字段落放中間,因為左邊右邊各15%*/
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------ ICONS ------ */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px; 

    /*select to align text and icons*/
    line-height: 120%;  /*以百分比計算的行高*/
    vertical-align: middle;  /*元素的垂直對齊方式*/
    margin-top: -5px;  /*微調行距*/
}

/* ------ LINKS ------ */

a:link,  /*link表示未訪問、visited表示已訪問*/
a:visited {
    color: #e67e22;
    text-decoration: none;  /*文字裝飾，增加上線overline,底線underline,刪除線line-through*/
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;  /*邊框樣式有solid.double.dotted.dashed*/
    transition: border-bottom 0.2s, color 0.2s;  /*漸變效果*/
}

a:hover,  /*hover是滑鼠蓋在連結上效果、active是連結被點擊時的效果*/
a:active {
    color: #555;
    border-bottom: 1px solid transparent;  /*transparent變透明*/
}

/* ------ BUTTONS ------ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/*按鈕點擊前、後*/

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

/*滑鼠移過按鈕、點下去*/

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);  /*圖片上灰色遮罩*/
    background-size: cover;  /*背景圖放大至內容的大小*/
    background-position: center; 
    height: 100vh;  /*填滿整個畫面*/
    background-attachment: fixed;  /*網頁滾動，背景圖案固定不動，默認為scroll*/
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  /*移動元素位置*/
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;  /*要18px，用設定的20px去換算比例*/
    border-bottom: 2px solid transparent;  /*透明*/
    transition: border-bottom 0.2s;  /*延遲出現*/
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* --------------------------------- */
/* FEATURES */
/* --------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* --------------------------------- */
/* MEALS */
/* --------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;  /*設定ul li 或ol li 的項目符號*/
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;  /*四張圖片並排*/
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;  /*超過的部分隱藏*/
    background: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);  /*等比例放大*/
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.06);
}

/* --------------------------------- */
/* HOW IT WORKS */
/* --------------------------------- */

.section-steps {
    background: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px; 
}

.steps-box:last-child {  /*注意跟:last-of-type區別*/
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {  /*注意跟:last-child區別*/
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* --------------------------------- */
/* CITIES */
/* --------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* --------------------------------- */
/* TESTIMONIALS */
/* --------------------------------- */

.section-testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;  /*網頁滾動，背景圖案固定不動，默認為scroll*/
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    vertical-align: middle;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
